<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sign_Up-CRAZYDEV</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nunito-font.css') }}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	   <script>
     function message() {

       alert('{{message}}')
     }
     </script>
</head>
<body class="form-v9" onload="message()">
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('{{ url_for('static', filename='images/form-v9.jpg') }}')">
			<form class="form-detail" action="{{form_submit}}" method="post">
				<h2>Registration Form</h2>
				<div class="form-row-total">
					<div class="form-row">
						<input type="text" name="full-name" id="full-name" class="input-text" placeholder="Your Name" required>
					</div>
					<div class="form-row">
						<input type="text" name="your-email" id="your-email" class="input-text" placeholder="Your Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
					</div>
				</div>
				<div class="form-row-total">
					<div class="form-row">
						<input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
					</div>
					<div class="form-row">
						<input type="password" name="comfirm-password" id="comfirm-password" class="input-text" placeholder="Comfirm Password" required>
					</div>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
		</div>
	</div>
</body>
</html>